Dakota_old/HW1
Dakota_old/HW2
Dakota_old/Inclass
Dakota_old/lab1
Dakota_old/lab2
Dakota_old/lab3

!Dakota_old/HW1/HW1_u/Makefile
!Dakota_old/HW1/HW1_u/main.c
!Dakota_old/HW1/HW1_u/bits.c

!Dakota_old/HW2/Makefile
!Dakota_old/HW2/simpleISS.c

!Dakota_old/lab1/src/

!Dakota_old/lab2/km
!Dakota_old/lab2/ul
!Dakota_old/lab2/sh

!Dakota_old/lab3/km
!Dakota_old/lab3/ul

